.page-login {
  height: 100%;
  background: linear-gradient(180deg, #f7fbff -43.6%, #c3e1fb 90.54%);

  .container {
    max-width: 1105px;
    margin: 0 auto;
  }

  .form-login {
    border-radius: 12px;
    padding: 40px 32px 32px;
    background: linear-gradient(
      93.19deg,
      #ffffff 0.35%,
      rgba(255, 255, 255, 0.5) 100.17%
    );
    backdrop-filter: blur(30px);
  }
}

.footer-login {
  max-width: 1105px;
  margin: 64px auto 80px;
}
