.layout-auth {
  min-height: 100%;
  background: linear-gradient(180deg, #f7fbff -43.6%, #c3e1fb 90.54%);

  .container {
    max-width: 1135px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 45px;
  }
}
