.a-collapse {
  .mbb-collapse-header {
    font-weight: 500;
    background-color: #eaeaea;
    font-size: 20px;
    padding: 16px 32px !important;
    align-items: center !important;
  }
  .mbb-collapse-content-box {
    padding: 16px 32px !important;
    background-color: #f6f6f69c !important;
  }
}
