.collect-customer-information-modal {
  .mbb-modal-content {
    background: #f5f6fa;
  }

  .limit-loan-amount-card {
    padding: 24px;
    background-color: #f9f9fc;
    border-radius: 8px;
    border: 1px dashed #e0e2e7;
    color: #858d9d;
    .text-primary {
      color: #141ed2;
    }
  }
}

.control-type-img-wrapper {
  .control-type-img-content {
    .mbb-image-preview-img {
      max-width: 100vw;
      max-height: none;
      pointer-events: none;
      transform: translate3d(0px, 42%, 0px) !important;
    }
  }
  .control-type-img-body {
    overflow: auto !important;
    max-height: 100vh !important;
    pointer-events: auto;
  }
}
