.collect-customer-information-modal {
  .mbb-modal-content {
    background: #f5f6fa;
    padding: 24px;
    .mbb-modal-close {
      top: 0;
      right: 0;
    }
  }

  .limit-loan-amount-card {
    padding: 24px;
    background-color: #f9f9fc;
    border-radius: 8px;
    border: 1px dashed #e0e2e7;
    color: #858d9d;
    .text-primary {
      color: #141ed2;
    }
  }
}
