@font-face {
  font-family: 'SF_Pro';
  src: local('sf_pro'), url('/assets/fonts/SF_Pro/SF-Pro-Display-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'SF_Pro';
  src: local('sf_pro'), url('/assets/fonts/SF_Pro/SF-Pro-Display-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'SF_Pro';
  src: local('sf_pro'), url('/assets/fonts/SF_Pro/SF-Pro-Display-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'SF_Pro';
  src: local('sf_pro'), url('/assets/fonts/SF_Pro/SF-Pro-Display-Regular.otf');
  font-weight: 400;
}
