@use './variables' as *;
@use './mixin' as *;

// Typography
h1,
.h1 {
  @include text-style(2.5rem, bold, 1.2);
}
h2,
.h2 {
  @include text-style(2rem, bold, 1.2);
}
h3,
.h3 {
  @include text-style(1.75rem, bold, 1.2);
}
h4,
.h4 {
  @include text-style(1.5rem, bold, 1.2);
}
h5,
.h5 {
  @include text-style(1.25rem, bold, 1.2);
}
h6,
.h6 {
  @include text-style(1rem, bold, 1.2);
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// break word
.word-break-all {
  word-break: break-all;
}

// whitespace nowrap
.whitespace-nowrap {
  white-space: nowrap;
}

// notification
.mbb-notification-notice {
  border-radius: 8px;
  padding: 16px !important;
  &.mbb-notification-notice {
    &-success {
      padding: 0;
      border-left: 5px solid #31c23f;
      background-color: #cce6da;
    }
    &-error {
      border-left: 5px solid #db3333;
      background-color: #ffebe9;
    }
    &-warning {
      border-left: 5px solid #ffe600;
      background-color: #fff2d8;
    }
    .mbb-notification-notice-content {
      .mbb-notification-notice-message {
        margin-bottom: 0;
      }
    }
  }
  .mbb-notification-notice-close {
    top: 50% !important;
    transform: translate(50%, -50%);
  }
}
