.a-select {
  .mbb-select-selector {
    box-shadow: none !important;
  }
}
.a-select-popup {
  .mbb-select-item-option-active {
    background: #141ed20d !important;
    color: #141ed2 !important;
  }
}
