.o-table {
  border: 1px solid #e0e2e7;
  border-radius: 8px;
  &.with-pagination {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .mbb-table-title {
    font-size: 18px;
    font-weight: 500;
  }
}
