.areaChart {
  &.container {
    width: 1030px;
    border-radius: 8px;
  }
  // tooltip
  .custom-tooltip {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    color: #667085;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .tooltip-item {
    display: flex;
    align-items: center;
  }

  .dot-blue {
    background-color: #1265e9;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .dot-orange {
    background-color: #e46a11;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
  }

  // customerLegend
  .custom-legend {
    display: flex;
    gap: 24px;
  }

  .legend-item {
    display: flex;
    align-items: center;
  }

  .legend-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
  }
}
