.footer-auth {
  background: #fff;
  max-width: 1135px;
  padding: 0 15px;
  margin: 64px auto 0;

  .footer-heading {
    padding-bottom: 80px;

    .footer-subtitle {
      color: #5a5a5a;
      line-height: 20px;
    }
  }

  .footer-icon {
    color: #141ed2;
  }

  .footer-note {
    color: #939393;
  }
}
